<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="RollingFile"
		 fileName="${sys:user.home}/.diylc/logs/log.txt"
		 filePattern="${sys:user.home}/.diylc/logs/log-%d{yyyy-MM-dd}-%d{HHmmss}.txt"
		 ignoreExceptions="false">
      <PatternLayout>
	<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
      </PatternLayout>
      <Policies>
	<TimeBasedTriggeringPolicy interval="1"/>
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
          pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}: %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
